   body { background-color:#dddddd;
   }
   hr {
       border-top:5px dotted #dddddd;
       color:#fff;
       background-color:#fff;
       height:1px;
       width:4%;
   }
  img {
       height:150px;
  }
  H1 { color:#435560;
  }
  H3 { color:#5b5b5b;
  }
  H4 { color:#6435560;
  }
 div { line-height: 20%;   font-size: 10pt; }

 /******************Class Selectors**************/
.highlights {
    line-height: 150%;   font-size: 12pt;
}